
# Ignores the Python cache
__pycache__

# Ignores downloaded datasets
/datasets

# Ignores experiment outputs
output*

# Ignores LaTeX files
*.tex
*.pdf
*.synctex*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
